body{
    height:100%;
}
html{
    height:100%;

}
.granIbonico {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 6px solid #00A4D9;
    border-radius: 100px;
    color: #00A4D9;
    display: block;
    font-size: 4em;
    height: 150px;
    line-height: 150px;
    margin: 0 auto 0.8em;
    position: relative;
    text-align: center;
    width: 150px;
}
.xicotetIbonico {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #00A4D9;
    display: block;
    font-size: 4em;
    height: 5px;
    position: relative;
    text-align: center;
    margin-top: 30px;
    width: 5px;
}
.spacerTop{
    margin-top: 10px;
}
.spacerLateral{
    margin-left: 10px;
    margin-right: 10px;
}
.centrado{
    text-align: center;
}
.articuloPortada{
    padding-bottom: 25px;
}
iframe {
    height:84vh;width:100%;display:block;
    overflow: hidden;
    border: none;
}
.miniatura{
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    box-shadow: 3px 3px 0 -1px #DDDDDD;
    padding: 1px;
    vertical-align: top;
}
.docTittle{
    color: #222222;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    white-space: nowrap;
}
.miniatura:hover{
    box-shadow: 6px 6px 0 -2px #DDDDDD;
    cursor: pointer;
    
}